APP_HOST=0.0.0.0
APP_PORT=8080
LOG_LEVEL=INFO

KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_TOPIC=notifications
KAFKA_GROUP_ID=notification-service
KAFKA_AUTO_OFFSET_RESET=earliest
KAFKA_POLL_TIMEOUT_MS=1000

MONGO_URI=mongodb://mongo:27017
MONGO_DB=notifications
MONGO_COLLECTION=events
MONGO_NOTIFICATIONS_COLLECTION=notifications
