.history
.gitignore
.vscode/
.idea/

.cache/
dist/


scripts/
node_modules/

.DS_Store

libraries/cpp/penguin_malloc/build*
libraries/c/facil-io-router/build*
libraries/c/jetenv/build*
services/shdb/build*
services/businesses/build*
**/compile_commands.json
